<!DOCTYPE html>
<html>
  <head>
    <title>CLI-Basics</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css"/>
  </head>
  <body>
    <textarea id="source">

class: center, middle

<!--
  Link examples 
-->
[1]: https://c.tenor.com/rUa8MTSuXFEAAAAM/who-cares.gif "Who cares"
[2]: https://zsh.sourceforge.io/
[3]: https://git-scm.com/images/logos/downloads/Git-Logo-White.png


![who cares][1]

# title 
 by Harold Vilander

???
Slide notes
---

    </textarea>
    <script src="https://remarkjs.com/downloads/remark-latest.min.js">
    </script>
    <script>
      var slideshow = remark.create();
    </script>
  </body>
</html>
